footer {
  position: relative;
  height: 10vh;

  display: flex;
  justify-content: center;
  align-items: end;

  .show {
    position: absolute;

    left: 50%;
    bottom: 25%;

    transform: translateX(-50%);
  }

  .container {
    cursor: pointer;
    overflow: hidden;

    width: 36px;
    height: 18px;

    background-color: var(--color-background-mute);

    border: 1px solid var(--color-border);
    border-radius: 15px 15px 0 0;
    backdrop-filter: blur(10px);

    transition: 0.5s ease-in-out;

    .content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 20px;

      visibility: hidden;

      p {
        font-size: 26px;
      }

      .projects {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 10px;
        gap: 10px;

        .item {
          display: flex;
          flex-direction: column;

          a {
            transition: 0.5s ease-in-out;

            img {
              border-radius: 8px;
            }

            &:hover {
              scale: 1.1;
            }
          }
        }
      }
    }
  }

  .container:hover,
  .container:focus {
    width: 40%;
    height: 250px;

    margin-bottom: 2px;

    border-radius: 20px;
  }

  .container:hover .content {
    visibility: visible;
  }
}

@media (max-width: 992px) {
  footer {

    .container:hover,
    .container:focus {
      width: 50%;
    }
  }
}

@media (max-width: 768px) {
  footer {

    .container:hover,
    .container:focus {
      width: 90%;
    }
  }
}
