main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin: 0 auto;
  gap: 10px;

  height: 80vh;

  .stack {
    display: flex;
    align-items: center;

    margin: 10px 0;

    code {
      padding: 5px 10px;

      color: var(--color-background-mute);
      background: var(--color-text);

      border-radius: 8px;

      transform: rotate(-90deg);

      .typingEffect {
        width: 0;
        overflow: hidden;
        border-right: 2px solid white;
        font-size: 28px;
        font-weight: 600;
        white-space: nowrap;
        animation: typing 3s forwards;
      }
    }

    .info {
      font-size: 24px;

      color: var(--color-heading);
    }
  }

  .text {
    max-width: 30%;
    text-align: justify;

    font-weight: 300;
    font-size: 15px;

    line-height: 1.2;

    a,
    .gray {
      color: var(--color-heading);
    }

    a:hover {
      color: var(--color-text);
    }
  }

  .links {
    display: flex;
    align-items: center;

    gap: 5px;

    .icon {
      color: var(--color-heading);

      transition: 0.3s ease-in-out;

      &:hover {
        color: var(--color-text);

        transform: translateY(-5px);
      }
    }
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@media (max-width: 992px) {
  main .text {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  main .text {
    max-width: 90%;
  }
}
