@font-face {
  font-family: "Rubik";
  src:
    url("./fonts/Rubik-Regular.woff") format("woff"),
    url("./fonts/Rubik-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("./fonts/Rubik-Bold.woff") format("woff"),
    url("./fonts/Rubik-Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("./fonts/Rubik-Medium.woff") format("woff"),
    url("./fonts/Rubik-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Rubik";
  src:
    url("./fonts/Rubik-Light.woff") format("woff"),
    url("./fonts/Rubik-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
