/* @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Libre+Barcode+39&display=swap");

@import "./base.css";
@import "./fonts.css";
@import "./components/header.css";
@import "./components/main.css";
@import "./components/footer.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;

  overflow-y: hidden;

  color: var(--color-text);
  background: var(--color-background);

  transition:
    color 0.5s,
    background-color 0.5s;

  font-family: "Rubik", sans-serif;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 5px;

    .text {
      display: flex;
      align-items: center;

      gap: 5px;

      .item {
        animation: rotate 2s linear infinite;
      }

      span {
        font-family: "Rubik", sans-serif;
        font-size: 20px;
      }
    }
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
